.arrow-img{
    float: right;
    height: 15px;
    width: 15px;
}

.navbar{
    background-color: #F8F6F6;
    bottom: 0;
    color: #333333;
    float: left;
    font-size: 15px;    
    font-weight: bold;
    min-height: 100%;
    top: 0;
    width: 32%;
}

.menu__title1{
    color: #333333;
    text-decoration: none;
}

.sidelist__menu{}

.sidelist__menu--selected{
    background-color: red;
}

.sidelist {
    float: right;
    list-style-type: none;
}

.sidelist__submenu {
    color: #333333;
    list-style-type: none;
}

.menu__link {
    color: #333333;
    font-size: 10px;
    text-decoration: none;
}