<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../support.css">
</head>
<body>
    <div ng-controller="contactUs">
    <div>
        <h2 class="title">CONTACT US</h2>
        <span class="breadcrumbs">Dealer Overview  >  Contact Us</span>
    </div>
    <div class="main">
        <strong>Your feedback is always important to us</strong>
        <p>Please note that this form is for inquiries only. To file a claim or check on the status of a claim, please call us at <strong class="phoneNumber">000-000-0000</strong></p>
        <form class="form">
            <h4 class="form-title">What can we help you with?</h4>
            <select class="form--fullSize">
                <option>Select</option>
                <option value="General inquiry">General inquiry</option>
                <option value="Dealer support">Dealer support</option>
                <option value="Dealer training">Dealer training</option>
            </select>
            <h4 class="form-title">Name</h4>
            <input class="form--fullSize" type="text" name="name">

            <div clas="form-radio">
            <h4 class="form-title--inline">Title</h4>
            <input class="form-radio" type="radio" name="title" value="Mr"> Mr
            <input class="form-radio" type="radio" name="title" value="Mrs"> Mrs
            <input class="form-radio" type="radio" name="title" value="Ms"> Ms
            </div>

            <div class="form--halfSize">
                <h4 class="form-title">Dealership</h4>
                <input class="form-input--halfSize" type="text" name="dealership">
            </div>

            <div class="form--halfSize">
                <h4 class="form-title">Dealership Branch</h4>
                <select class="form-input--halfSize" >
                    <option>Select</option>
                </select>
            </div>

            <div class="form--halfSize">
                <h4 class="form-title">Phone Number (Optional)</h4>
                <input class="form-input--halfSize" type="text" name="phoneNumber">
            </div>
            <div class="form--halfSize">
                <h4 class="form-title">Email</h4>
                <input class="form-input--halfSize" type="text" name="email"> 
            </div>            
            <h4 class="form-title">Message</h4>
            <textarea class="form--fullSize" rows="4"></textarea>
            <span class="light">500 characters available</span>
            <button class="form-submit">Send</button>
        </form>
    </div>
    <div class="aditional">
        <h4 class="title">GENERAL INFORMATION</h4>
        <strong>Corporate Offices</strong>
        <p>asdasdasdasdasdasdasd 1452154</p>
        <p>Switzerland</p>
        <p class="email">info@asdasdasd.com</p>
        <p class="phoneNumber"> 000-000-0000 or 000-000-0000 </p>        
    </div>
</body>
</html>
