<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="privacyPolicy.css">
</head>
<body>
    <container>
        <div class="view">
            <h2 class="view-title">PRIVACY POLICY</h2>
            <span class="view-breadcrumbs">Dealer Overview > Privacy Policy</span>
        </div>
        <img id="u5836_img" class="img " src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/YMNEKF/16/c3/c5/16c3c5db92b44763aa35609f0f5e7a74/images/d-dashboard-nice-to-have/u355.png?token=181317135dd8710fbe75ec59debc752e">
        <div class="main">
            
        </div>

    </container>
</body>