<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./support.css">  
    <title>Support</title>
</head>
    <body>
    <div>
        <h1 class="title">Support</h1>
        <span class="breadcrumbs"> Help > Support </span>
    </div>
    <div class="main">
        <p>In order to provide the most personalized service and in-depth knowledge of your market, we established the industry’s best network of independent agents who live and work in your geographic territory. However, we are always here to support you, so please feel free to contact us with any requests.</p>
        <h3 class="subtitle">DEALER SUPPORT</h2>
        <p><span class="phoneNumber">000-000-0000</span> or <span class="phoneNumber">000-000-0000</span></p>
        <p>Office Hours: 8 am-5 pm</p>
        <p class="email">info@asdasdasd.com</p>    
        <h3 class="subtitle">Claims Support</h2>
        <p>To eliminate some of the stress that comes with a mechanical breakdown, we designed our claims process to ensure prompt and efficient service for both your customers and your service department. The majority of our claims adjusters are former service technicians with numerous ASE certifications, so we understand your side of the business.</p>
        <p><span class="phoneNumber">000-000-0000</span> or <span class="phoneNumber">000-000-0000</span>
        <p>Extensions <strong>000</strong></p>
        <p><strong>Claims Hours:</strong> M-F 6 am-6 pm; Sat. 6 am-5 pm</p>
    </div>
    <div class="aditional">
        <h3>ADDITIONAL RESOURCES</h3>
        <div class="video"></div>
        <p><a href="#">Frequently Asked Questions</a></p>
        <p><a href="#">Manuals & Procedures</a></p>
    </div>
    </body>
</html>